.timer {
  font-size: 32px;
  color: #fff;
  background-color:#095574 ;
  width: 100px;
  border-radius: 8px;
  margin: auto;
}
button {
  background-color: #095574;
  color: #fff;
  border: none;
  border-radius: 8px;
}
