.App {
  text-align: center;
  height: 100vh;
  background-color: #003950;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
header {
  width: 80%;
  margin-left: 10%;
  padding-top: 4vh;
}
.span {
  border: 1px solid red;
}
.normalSpan {
  border: 0;
}
.green {
  color: white;

  font-size: 40px;
  letter-spacing: 2px;
}
.black {
  color: #5cdbea;

  font-size: 40px;
  letter-spacing: 2px;
}
.red {
  color: white;
  color: red;
  font-size: 40px;
}
.input {
  opacity: 0;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-shadow: none;
  height: 60px;
  width: 250px;
  font-size: 40px;
  font-weight: 800;
  font-family: "Anton";
  padding-left: 20px;
  margin-top: 100px;
}

.input:focus {
  border-left: 0px;
  outline: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
