
.App {
  text-align: center;
  height: 100vh;
  background-color: #003950;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
header {
  width: 80%;
  margin-left: 10%;
  margin-top: 8vh;
}
.span {
  border: 1px solid red;
}
.normalSpan {
  border: 0;
}
.green {
  color: white;

  font-size: 40px;
  letter-spacing: 2px;
}
.black {
  color: #5cdbea;

  font-size: 40px;
  letter-spacing: 2px;
}
.red {
  color: red;
  font-size: 40px;
  letter-spacing: 2px;
}
.input {
  opacity: 0;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  box-shadow: none;
  height: 60px;
  width: 250px;
  font-size: 40px;
  font-weight: 800;
  font-family: "Anton";
  padding-left: 20px;
  margin-top: 100px;
  z-index: 0;
  margin-top: -5vh;
}

.input:focus {
  border-left: 0px;
  outline: none;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin: auto;
  margin-top: 5vh;
  z-index: 12;
  position: relative;
}

.wpm-timer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wpm-timer .wpm-div h1 {
  margin: auto;
  letter-spacing: 2px;

  color: #fff;
}
.wpm-div {
  width: 120px;
  border-radius: 8px;
  background-color: #095574;
  margin: 10vh auto;
}

.x{
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color:#003950;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}